<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/dbfashion</property>

        <property name="connection.username">root</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="fashionPOS.Model.Entity.Tbcustomer"/>
        <mapping class="fashionPOS.Model.Entity.Tbitem"/>
        <mapping class="fashionPOS.Model.Entity.Tbtransaction"/>
        <mapping class="fashionPOS.Model.Entity.Tbuser"/>
        <mapping class="fashionPOS.Model.Entity.Tbcategory"/>
        <mapping class="fashionPOS.Model.Entity.Tbrole"/>
        <mapping class="fashionPOS.Model.Entity.Tbsizestock"/>
        <!-- <property name="connection.password"/> -->
        <!--        <property name="connection.username">root</property>-->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>